[submodule "test/bats"]
	path = libs/bats
	url = https://github.com/bats-core/bats-core.git
[submodule "test/test_helper/bats-support"]
	path = libs/bats-support
	url = https://github.com/bats-core/bats-support.git
[submodule "test/test_helper/bats-assert"]
	path = libs/bats-assert
	url = https://github.com/bats-core/bats-assert.git
[submodule "test/test/test_helper/bats-file"]
	path = libs/bats-file
	url = https://github.com/bats-core/bats-file.git
[submodule "test/test/test_helper/bats-mock"]
	path = libs/bats-mock
	url = https://github.com/buildkite-plugins/bats-mock.git
[submodule "libs/TickTick"]
	path = libs/TickTick
	url = https://github.com/kristopolous/TickTick.git
